<div class ="container" id ="trend">

  <p class ="jumbotron" style="text-align: center" style="background-color:rgb(35, 41, 37)">About Us</p>
  
  <div class="container-fluid">
        
      <div class="contain">  
      <div class="row">
          
            
              <div class="col"  ><div class="row" style="background-color:black">
                  <div id ="col" class="col-lg-4">
                    
                    <img id="parth" src="WhatsApp Image 2019-03-01 at 3.59.34 PM.jpeg" width = "325px" height="400px" alt="Random Name">
                    
                </div>
                  <div id="col1"style = "background-color:black" class="col-sm-8">
                    <p id ="text1"><font size="6"><strong>   Parth Shingala  -  </strong></font><font size="3">  Sardar Patel Institute Of Technology</font></p><br>
                  </div>
                </div>
                
              </div> 
              
              
  
              <div class="container-fluid">
        
                  <div class="contain">  
                  <div class="row">
                      
                        
                          <div class="col"  ><div class="row" style="background-color:black">
                              <div id ="col" class="col-lg-4">
                                
                                <img  src="" width = "275px" height="400px" alt="Random Name">
                                
                            </div>
                              <div id="col1"style = "background-color:black" class="col-sm-8">
                                  <p id ="text1"><font size="6"><strong>   Vedant Kumar -  </strong></font><font size="3">  Sardar Patel Institute Of Technology</font></p><br>
                              </div>
                            </div>
                            
                          </div> 
                          
  
  <div class ="container" id ="trend">
  
      <p class ="jumbotron" style="text-align: center" style="background-color:rgb(35, 41, 37)">Contact Us</p>
      <font size="4"><p style="text-align: center" class="glyphicon glyphicon-phone"> 597099565</p></font><br>
      <font size="4"><p style="text-align: center" class="glyphicon glyphicon-phone"> 234567567</p></font>
      </div>
  
  
  
      <div class ="container" id ="trend">
  
          <p class ="jumbotron" style="text-align: center" style="background-color:rgb(35, 41, 37)">Email Us</p>
          <font size="4"><p style="text-align: center"class="glyphicon glyphicon-envelope">   parthshingala06@gmail.com</p></font><br>
              <font size="4"><p style="text-align: center" class="glyphicon glyphicon-envelope" >   vedant.kumar24@gmail.com</p></font>
          </div>
  
          <div class ="container" id ="trend">
  
              <p class ="jumbotron" style="text-align: center" style="background-color:rgb(35, 41, 37)">Store Locator</p>
              <font size="4"><p class = "info">Mumbai</p></font>
             
  
              <font size="4"><p class = "info" >Pune</p></font>
        
              </div>