<div class="row" style="background-color:white">
  <div id ="col" class="col-lg-4">
    
    <img src="https://s1.euronics.ee/UserFiles/Products/Images/126464-wam7500-001-front-black.png" width = "400px" height="600px" alt="Random Name">
    
</div>
  <div id="col1"style = "background-color: white" class="col-sm-8">
    <p id ="text1"><font size="6"><strong>Samsung Level Box Mini Wireless Speaker - Retail Packaging - Black</strong></font></p><br>
    <p id="text3"><font size="4">
        <ul style="list-style: none;">      
          <li id="mrp">M.R.P.:	   32,500.00/- </li>
          <li>Price:	   28,000.00/-  </li>
          <li id="save">You Save:	   4,500.00/- (16%)</li>
          <li is="end">Inclusive of all taxes</li>
        </ul>
        </font>
      </p>
    
    <p id="text2" ><font size ="3">
      <ul>
          <li>The Samsung Level Box Mini wireless speaker packs big sound quality and performance into a slim, colorful form factor.</li>
         <li> Stash the Level Box Mini in a backpack, purse or pocket and you'll be the life of the party when you arrive.</li>
          <li>Warranty: 1 year manufacturer warranty for device and 6 months manufacturer warranty for in-box accessories including batteries from the date of purchaser</li>
          
          <li>Shelf Type: Toughened Glass</li>
          <li>Also included in the box: User manual, Warranty card</li>
      </ul>

    </font></p>
    
    <button type="button" class="btn btn-outline-primary" style="background-color: rgba(62, 56, 114, 0.466)">Buy Now</button>
    
</div>
</div>
