<div class="row" style="background-color:white">
  <div id ="col" class="col-lg-4">
    
    <img src="https://images-na.ssl-images-amazon.com/images/I/91u5adTvrVL._SL1500_.jpg" width = "400px" height="300px" alt="Random Name">
    
</div>
  <div id="col1"style = "background-color: white" class="col-sm-8">
    <p id ="text1"><font size="6"><strong>Samsung IT LC27F591FDNXZA Samsung C27F591 27-Inch Curved Monitor </strong></font></p><br>
    <p id="text3"><font size="4">
        <ul style="list-style: none;">      
          <li id="mrp">M.R.P.:	   32,500.00/- </li>
          <li>Price:	   28,000.00/-  </li>
          <li id="save">You Save:	   4,500.00/- (16%)</li>
          <li is="end">Inclusive of all taxes</li>
        </ul>
        </font>
      </p>
    
    <p id="text2" ><font size ="3">
      <ul>
          <li>1800R curvature of the screen provides a truly immersive viewing experience</li>
         <li>AMD FreeSync minimizes input latency and dramatically reduces image tearing and stutter during gaming.</li>
          <li>Powerful, built-in 5-watt stereo speakers deliver full, rich sound for watching movies or playing games.</li>
          
          <li>Shelf Type: Toughened Glass</li>
          <li>Also included in the box: User manual, Warranty card</li>
      </ul>

    </font></p>
    
    <button type="button" class="btn btn-outline-primary" style="background-color: rgba(62, 56, 114, 0.466)">Buy Now</button>
    
</div>
</div>
