<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>


<div class ="jumbotron" >
  <a id="text3" style="text-align:center"><b>You Will Receive Our Mail When Product Is Out For Sell</b></a>
</div>
<div class="row" style="background-color:white">
  <div id ="col" class="col-lg-4">
    
    <img src="https://www.stuff.tv/sites/stuff.tv/files/brands/Samsung/Galaxy-S10/gs10-geskin-concept.jpg" width = "570px" height="500px" alt="Random Name">
    
</div>
  <div id="col1"style = "background-color: white" class="col-sm-8">
    <p id ="text1"><font size="6"><strong>Samsung Galaxy S10 (6GB RAM, 64GB Storage)</strong></font></p><br>
    
    
    <p id="text2" ><font size ="3">
      <ul>
          <li>Camera: 24+16 MP Dual rear camera | 24 MP front camera</li>
         <li> Memory, Storage & SIM: 6GB RAM | 64GB storage expandable up to 400GB | Dual SIM with dual-standby (4G+4G)</li>
          <li>Warranty: 1 year manufacturer warranty for device and 6 months manufacturer warranty for in-box accessories including batteries from the date of purchaser</li>
          
          <li>Shelf Type: Toughened Glass</li>
          <li>Also included in the box: User manual, Warranty card</li>
      </ul>

    </font></p>
    
    <button type="button" class="btn btn-outline-primary" style="background-color: rgba(62, 56, 114, 0.466)"data-toggle="modal" data-target="#myModal">Pre-Register</button>
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Registeration is Successfull</h4>
            
          </div>
        </div>
      </div>
    </div>
</div>
</div>
