<div class="row" style="background-color:white">
  <div id ="col" class="col-lg-4">
    
    <img src="https://www.cmicdataservices.com/ResourceFiles/SAMSA/Photos/LargeImages/WF45N5300AV_Gallery11.jpg" width = "400px" height="600px" alt="Random Name">
    
</div>
  <div id="col1"style = "background-color: white" class="col-sm-8">
    <p id ="text1"><font size="6"><strong>Samsung 810 L Washing Machine(RF28N9780SG/TL, Black, Inverter Compressor)</strong></font></p><br>
    <p id="text3"><font size="4">
        <ul style="list-style: none;">      
          <li id="mrp">M.R.P.:	   322,500.00/- </li>
          <li>Price:	   285,000.00/-  </li>
          <li id="save">You Save:	   37,500.00/- (12%)</li>
          <li is="end">Inclusive of all taxes</li>
        </ul>
        </font>
      </p>
    
    <p id="text2" ><font size ="3">
      <ul>
        
         <li> Capacity 810 L: Suitable for families with 5 or more members</li>
          <li>Warranty: 1 year on product, 10 years on compressor</li>
          <li>Inverter Compressor – Energy efficient, less noise & more durable</li>
          <li>Shelf Type: Toughened Glass</li>
          <li>Also included in the box: User manual, Warranty card</li>
      </ul>

    </font></p>
    
    <button type="button" class="btn btn-outline-primary" style="background-color: rgba(62, 56, 114, 0.466)">Buy Now</button>
    <button type="button" class="btn btn-outline-primary" style="background-color: rgba(62, 56, 114, 0.466)">Add To Cart</button>
</div>
</div>
c